body{
				padding:0;
				margin:0;
				background-color:#f4f4f4;
				font-family:"Baloo Da 2";
				}
.topic,.last,.places,.geektutor,.cities,.hope,.contact,.know,.good{
				text-align:center;
				color:#5900cc;
				}
.topic,.good{
				background-color:#5900cc;
				margin-to:1.5pc;
				font-size:40px;
				padding:35px;
				color:white;
				}
.one,.two,.three,.four,.five,.six{
				width:90%;
				background-color:#5900cc;
				padding:5px;
				margin:2pc auto;
				border:2.5px double #aeaeae;
				border-radius:5px;
				}
.last,.places,.geektutor,.cities,.hope,.know{
				font-size:25px;
				padding:10px;
				color:#f4f4f4;
				}
.contact{
				font-size:22px;
				padding:5px;
				color:#f4f4f4;
				}
.row1,.row2,.row3,.row4{
				width:90%;
				background-color:#aa00ff;
				display:flex;
				flex-wrap:wrap;
				justify-content:center;
				align-content:center;
				margin:auto;
				padding:10px;
				border-radius:5px;
				}
.last01,.last02,.last03,.last04,.last05,.last06{
				width:25%;
				padding:10px;
				}
.last1,.last2,.last3,.last4,.last5,.last6{
				width:100%;
				padding:3px;
				border-radius:5px;
				background-color:#dbdbdb;
				}
.last0001,.last0002,.last0003,.last0004,.last0005,.last0006{
				width:41%;
				padding:10px;
				}
.last001,.last002,.last003,.last004,.last005,.last006{
				width:100%;
				padding:3px;
				border-radius:5px;
				background-color:#dbdbdb;
				}
.icons1,.icons2{
				width:70%;
				display:flex;
				flex-direction:column;		
				flex-wrap:nowrap;
				margin:auto;
				}
.icons1{
		flex-direction:row;		
		text-align:center;
		margin:auto;
		width:35%;
		justify-content:space-between;
		color:#f4f4f4;
		}
.six{
				margin-bottom:2pc;
				}
.program{
		width:17%;
		margin:auto;
		}
.icon{
		width:100%;
		}
.good{
		font-size:35px;
		}
.me{
		text-align:center;
		color:#f4f4f4;
		}
a:link{
		color:lightgreen;
		}	
a:visited{
		color:red;
		}
a:hover{
		color:hotpink;
		}
a:active{
		color:lightblue;
		}		

		
		
@media (min-width:768px){
.flex1{
		display: flex;
		width:60%;
		align-self:center;
		}
.flex2{
		flex-wrap:wrap;
		display: flex;
		align-self:center;
		width:40%;
		}
.flex3{
		display: flex;
		margin:auto;
		}
.three,.four{
		margin:.5pc;
		}
.flex4{
		display: flex;
		width:40%;
		align-self:center;
		margin:auto;
		}
}
